<form id="listResultsForm" name="listResultsForm" method="post" action="">
<ul id="results">
	<li id="result_[ID]">
		<div class="result_image">
			<img src="[IMG_SRC]" height="80" width="80" alt="[FEED_TITLE]" />
		</div>
		<div class="result_info">
			<h3>[BAND/ARTIST_NAME]</h3>
			<p class="album">[ALBUM/CANCION NAME]</p>
			<p class="url">[URL]</p>
		</div>
		<div class="result_action">
			<p class="type">[FREE/BUY]</p>
			<input type="checkbox" id="result_[ID]_twit" name="result_[ID]_twit" />
		</div>
	</li>
	<!--
	<li id="no_results">
		<p>No se encontraron resultados</p>
	</li>
	-->
</ul>
<input type="submit" id="listResults_sbt" class="button blue_button" name="listResults_sbt" value="Twit" />
</form>
