// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#results {
   background:#FFF;
   color:#000;
   height:500px;
   overflow:auto;
   border-radius:2px;
}

ul#results.loading {
  background:url(/images/ajax-loader.gif) no-repeat center center #FFF;
}

ul#results.loading li {
  display:none !important;
}

ul#results li {
  width:100%;
  height:100px;
  float:left;
  clear:both;
  border-bottom:1px solid #DDD;
  overflow:hidden;
}

ul#results li.item_album {
  background:url(/images/album-icon-2.png) no-repeat 460px 50px transparent; 
}

ul#results li.item_track {
  background:url(/images/track-icon-2.png) no-repeat 462px 40px transparent; 
}

ul#results li.last {
  border-bottom:none;
}

ul#results li#no_results {
  height:20px;
  padding:235px 0;
  border-bottom:none;
}

ul#results li#no_results p {
  text-align:center;
  font-size:1.6em;
  font-style:italic;
  color:#999;
}

ul#results li .result_image,
ul#results li .result_info,
ul#results li .result_action {
  height:80px;
  padding:10px;
  float:left;
}

ul#results li .result_image {
}

ul#results li .result_info {
}

ul#results li .result_info h3 {
  font-size:1.6em;
}

ul#results li .result_info p.itemSubText {
  font-weight:bold;
}

ul#results li .result_info p.url {
  font-size:.9em;
  padding-top:3px;
  padding-bottom:3px;
}

ul#results li .result_action {
  padding-left:0;
  float:right;
}

ul#results li .result_action p.value {
  padding-top: 4px;
  text-transform: uppercase;
  font-size: .75em;
  overflow: hidden;
  width: 80px;
  text-align: right;
}
